.Layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Layout nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(76, 117, 219);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

body.dark-mode .Layout nav {
    background-color: rgb(26, 50, 120);
}

.Layout nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Layout nav button {
    padding: 0.7rem 1.7rem;
    font-weight: bold;
}

.Layout nav button:hover {
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

main {
    flex-grow: 1;
    margin: 20px;
}

.Layout .footer {
    text-align: right;
    padding: 1rem;
    background-color: rgb(76, 117, 219);
    font-size: 0.9rem;
    color: white;
}


body.dark-mode .footer {
    background-color: rgb(26, 50, 120);
}