.toggle-button {
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #090d18;
    color: white;
    transition: all 0.3s ease;
}

body.dark-mode .toggle-button {
    background-color: #556b98;
}

.toggle-button:hover {
    transform: scale(1.05);
}

.toggle-button:active {
    transform: scale(1);
}