.UserTable {
    padding: 0.5rem;
    overflow-x: auto;
}

.UserTable table {
    width: 100%;
    min-width: 600px;
    text-align: left;
    border-collapse: collapse;
}

.UserTable table tbody tr {
    background-color: rgb(198, 218, 255);
}

body.dark-mode .UserTable table tbody tr {
    background-color: rgb(30, 50, 80);
}

.UserTable table tbody tr:nth-child(even) {
    background-color: rgb(219, 230, 255);
}

body.dark-mode .UserTable table tbody tr:nth-child(even) {
    background-color: rgb(40, 55, 90);
}

.UserTable table td,
.UserTable table th {
    padding: 0.2rem;
}