.search-input {
    width: 100%;
    max-width: 300px;
    padding: 6px 10px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.search-input:focus {
    border-color: rgb(99, 151, 254);
    box-shadow: 0 0 4px rgba(99, 151, 254, 0.5);
}

body.dark-mode .search-input {
    background-color: #2c3e50;
    color: #f5f5f5;
    border: 1px solid #555;
}

body.dark-mode .search-input:focus {
    border-color: #65a0ff;
    box-shadow: 0 0 4px rgba(101, 160, 255, 0.5);
}